RSS-db.json
[{"id":"1ad37739.6c88e9","type":"tab","label":"RSS-nbcsports","disabled":false,"info":""},{"id":"b5b42acf.9a8078","type":"inject","z":"1ad37739.6c88e9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["20348a5f.519356"]]},{"id":"20348a5f.519356","type":"http request","z":"1ad37739.6c88e9","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.nbcsports.com/nba","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":100,"wires":[["a366e1df.5ebea"]]},{"id":"8e4b86f0.2e8518","type":"debug","z":"1ad37739.6c88e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":480,"wires":[]},{"id":"a366e1df.5ebea","type":"html","z":"1ad37739.6c88e9","name":"div","property":"payload","outproperty":"payload","tag":"div.more-headlines__list-item","ret":"html","as":"multi","x":530,"y":100,"wires":[["202393e7.0b56ec"]]},{"id":"7c842001.16e3b","type":"html","z":"1ad37739.6c88e9","name":"title","property":"payload","outproperty":"item.title","tag":"div.story__title a","ret":"text","as":"multi","x":150,"y":180,"wires":[["c57bcefd.42116"]]},{"id":"c57bcefd.42116","type":"html","z":"1ad37739.6c88e9","name":"link","property":"payload","outproperty":"item.link","tag":"div.story__title a","ret":"attr","as":"multi","x":150,"y":240,"wires":[["66529c82.450c64"]]},{"id":"a5de121d.ba48a","type":"html","z":"1ad37739.6c88e9","name":"description","property":"payload","outproperty":"item.decription","tag":"div.story__summary","ret":"html","as":"single","x":170,"y":300,"wires":[["ce2b8ce1.53ce"]]},{"id":"66529c82.450c64","type":"change","z":"1ad37739.6c88e9","name":"date","rules":[{"t":"set","p":"item.date","pt":"msg","to":"$replace(item.link.href, /.*(\\d{4})\\/(\\d{2})\\/(\\d{2}).*/, \"$1-$2-$3\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":240,"wires":[["a5de121d.ba48a"]]},{"id":"d9178a34.1ae0c8","type":"join","z":"1ad37739.6c88e9","name":"","mode":"custom","build":"array","property":"item","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":300,"wires":[["ca278a37.f8ff08"]]},{"id":"202393e7.0b56ec","type":"change","z":"1ad37739.6c88e9","name":"","rules":[{"t":"move","p":"parts","pt":"msg","to":"_parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["7c842001.16e3b"]]},{"id":"ce2b8ce1.53ce","type":"change","z":"1ad37739.6c88e9","name":"","rules":[{"t":"move","p":"_parts","pt":"msg","to":"parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["d9178a34.1ae0c8"]]},{"id":"74f36d4b.7143a4","type":"rss","z":"1ad37739.6c88e9","name":"","feedOptionRules":[{"name":"title","type":"str","value":"ProBasketBall Talk"},{"name":"feed_url","type":"str","value":"localhost:1880/rss/nbcsports"},{"name":"site_url","type":"str","value":"https://www.nbcsports.com/nba"}],"itemOptionRules":[{"name":"title","type":"item","value":"title"},{"name":"description","type":"item","value":"description"},{"name":"url","type":"item","value":"link.href"},{"name":"guid","type":"item","value":"link.href"},{"name":"date","type":"item","value":"date"}],"x":390,"y":380,"wires":[["8e4b86f0.2e8518","ed400e3a.009a5"]]},{"id":"ca278a37.f8ff08","type":"change","z":"1ad37739.6c88e9","name":"","rules":[{"t":"move","p":"item","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[["74f36d4b.7143a4"]]},{"id":"924d750.66d6e88","type":"http in","z":"1ad37739.6c88e9","name":"","url":"/rss/nbcsports","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["20348a5f.519356"]]},{"id":"7587bc4a.1c58c4","type":"http response","z":"1ad37739.6c88e9","name":"","statusCode":"","headers":{},"x":890,"y":380,"wires":[]},{"id":"ed400e3a.009a5","type":"change","z":"1ad37739.6c88e9","name":"","rules":[{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/rss+xml","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[["7587bc4a.1c58c4"]]}]