RSS-WEB.json
[{"id":"b49992c9.ebd32","type":"tab","label":"web-request","disabled":false,"info":""},{"id":"5ca2b8f7.a15168","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/feed","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["592db51f.2c600c"]]},{"id":"9fa62a09.805008","type":"template","z":"b49992c9.ebd32","name":"","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div class=\"container\">\n    <h1>Feed</h1>\n    <div class=\"row\">\n        <div class=\"col-md-6\">\n           <table class=\"table\">\n            <thead>\n             <tr>\n              <th scope=\"col\">Name</th>\n              <th scope=\"col\">URL</th>\n              <th scope=\"col\"></th>\n             </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr class=\"table-info\">\n                <td>{{name}}</td>\n                <td>{{url}}</td>\n                <td><a href =\"/monitor/feed/delete/{{rowid}}\" class=\"btn btn-dark\">Delete</a></td>\n              </tr>\n              {{/payload}}\n            </tbody>\n            </table> \n        </div>\n        <div class=\"col-md-6\">\n            <form method=\"POST\" action=\"/monitor/feed\">\n              <label for=\"name\" >Name</label>\n              <input class=\"form-control\" id=\"name\" name=\"name\">\n              <label for=\"url\" >URL</label>\n              <input class=\"form-control\" id=\"url\" name=\"url\">\n              <button type=\"submit\" class=\"btn btn-primary\">ADD</button>\n            </form>\n        </div>\n        </div>\n</div>\n","output":"str","x":620,"y":100,"wires":[["5239fb0c.7ddda4"]]},{"id":"592db51f.2c600c","type":"sqlite","z":"b49992c9.ebd32","mydb":"d7a1bb6e.9fa288","sqlquery":"fixed","sql":"SELECT rowid, * FROM feed","name":"db","x":450,"y":100,"wires":[["9fa62a09.805008"]]},{"id":"ccdbecb7.865b5","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/feed","method":"post","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["3e768689.c83dea"]]},{"id":"3e768689.c83dea","type":"template","z":"b49992c9.ebd32","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO feed VALUES ('{{payload.name}}', '{{{payload.url}}}')","output":"str","x":380,"y":160,"wires":[["8fde6ca.daaa59"]]},{"id":"8fde6ca.daaa59","type":"sqlite","z":"b49992c9.ebd32","mydb":"d7a1bb6e.9fa288","sqlquery":"msg.topic","sql":"SELECT * FROM feed","name":"db","x":610,"y":160,"wires":[["592db51f.2c600c"]]},{"id":"7d9c2e5b.ccdc9","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/feed/delete/:rowid","method":"get","upload":false,"swaggerDoc":"","x":190,"y":220,"wires":[["34a91fe8.dd1ad"]]},{"id":"34a91fe8.dd1ad","type":"template","z":"b49992c9.ebd32","name":"DELETE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM feed WHERE rowid = {{req.params.rowid}}","output":"str","x":440,"y":220,"wires":[["8fde6ca.daaa59"]]},{"id":"3c2c7f43.7c8b6","type":"comment","z":"b49992c9.ebd32","name":"Feed","info":"","x":140,"y":40,"wires":[]},{"id":"c211aad6.dd93e8","type":"comment","z":"b49992c9.ebd32","name":"Keyboard","info":"","x":140,"y":280,"wires":[]},{"id":"59b5df1f.85ab8","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/keyword","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["1d584cfb.e0b403"]]},{"id":"d5b7229c.507e","type":"template","z":"b49992c9.ebd32","name":"","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div class=\"container\">\n    <h1>Keyword</h1>\n    <div class=\"row\">\n        <div class=\"col-md-6\">\n           <table class=\"table\">\n            <thead>\n             <tr>\n              <th scope=\"col\">Expression</th>\n              <th scope=\"col\"></th>\n             </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr class=\"table-info\">\n                <td>{{expression}}</td>\n                <td><a href =\"/monitor/keyword/delete/{{rowid}}\" class=\"btn btn-dark\">Delete</a></td>\n              </tr>\n              {{/payload}}\n            </tbody>\n            </table> \n        </div>\n        <div class=\"col-md-6\">\n            <form method=\"POST\" action=\"/monitor/keyword\">\n              <label for=\"expression\" >Expression</label>\n              <input class=\"form-control\" id=\"expression\" name=\"expression\">\n              <button type=\"submit\" class=\"btn btn-primary\">ADD</button>\n            </form>\n        </div>\n        </div>\n    \n\n\n\n\n</div>\n","output":"str","x":640,"y":360,"wires":[["5239fb0c.7ddda4"]]},{"id":"1d584cfb.e0b403","type":"sqlite","z":"b49992c9.ebd32","mydb":"d7a1bb6e.9fa288","sqlquery":"fixed","sql":"SELECT rowid, * FROM keyword","name":"db","x":470,"y":360,"wires":[["d5b7229c.507e"]]},{"id":"b0ecd630.9840d8","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/keyword","method":"post","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["35680932.842206"]]},{"id":"35680932.842206","type":"template","z":"b49992c9.ebd32","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO keyword VALUES ('{{payload.expression}}')","output":"str","x":400,"y":420,"wires":[["c6befc86.ae039"]]},{"id":"c6befc86.ae039","type":"sqlite","z":"b49992c9.ebd32","mydb":"d7a1bb6e.9fa288","sqlquery":"msg.topic","sql":"SELECT * FROM keyword","name":"db","x":630,"y":420,"wires":[["1d584cfb.e0b403"]]},{"id":"8b5a2cf1.8de7","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/keyword/delete/:rowid","method":"get","upload":false,"swaggerDoc":"","x":210,"y":480,"wires":[["c3489b1d.9592d8"]]},{"id":"c3489b1d.9592d8","type":"template","z":"b49992c9.ebd32","name":"DELETE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM keyword WHERE rowid = {{req.params.rowid}}","output":"str","x":460,"y":480,"wires":[["c6befc86.ae039"]]},{"id":"e2a647f4.119c08","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":150,"y":600,"wires":[["e19ca20.5d8866"]]},{"id":"58e3763a.463128","type":"template","z":"b49992c9.ebd32","name":"Body","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"container\">\n    <h1>Latest Stories</h1>\n    <div class=\"row\">\n        <div class=\"col-m-6\">\n           <table class=\"table\">\n            <thead>\n             <tr>\n              <th scope=\"col\">Headline</th>\n              <th scope=\"col\">Summary</th>\n              <th scope=\"col\">Sent</th>\n             </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr class=\"table-info\">\n                <td><a href= \"{{link}}\">{{title}}</a></td>\n                <td>{{description}}</td>\n                <td>{{expression}}</td>\n                <td>{{#sent}}<i class=\"fa fa-check\" aria-hidden=\"true\"></i>{{/sent}}</td>\n              </tr>\n              {{/payload}}\n            </tbody>\n            </table> \n        </div>\n    </div>\n</div>\n","output":"str","x":810,"y":500,"wires":[["5239fb0c.7ddda4"]]},{"id":"c6d796f9.5f1c68","type":"http response","z":"b49992c9.ebd32","name":"","statusCode":"","headers":{},"x":1150,"y":680,"wires":[]},{"id":"46c197b2.a3af18","type":"sqlite","z":"b49992c9.ebd32","mydb":"d7a1bb6e.9fa288","sqlquery":"msg.topic","sql":"","name":"db","x":490,"y":600,"wires":[["d921a0d4.41255"]]},{"id":"4487d20.7b5b73","type":"comment","z":"b49992c9.ebd32","name":"monitor","info":"","x":130,"y":560,"wires":[]},{"id":"cd46fecd.b210e","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":150,"y":660,"wires":[["e7380b98.0e1988","e19ca20.5d8866"]]},{"id":"e7380b98.0e1988","type":"debug","z":"b49992c9.ebd32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":700,"wires":[]},{"id":"e19ca20.5d8866","type":"template","z":"b49992c9.ebd32","name":"SELECT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT rowid, * FROM match\nWHERE title LIKE '%{{payload.search}}%' OR description LIKE '%{{payload.search}}%' \nORDER BY rowid DESC","output":"str","x":340,"y":600,"wires":[["46c197b2.a3af18"]]},{"id":"5239fb0c.7ddda4","type":"template","z":"b49992c9.ebd32","name":"Navbar","field":"template.navbar","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <nav class=\"navbar navbar-expand-lg navbar-light bg-light mb-4\">\n  <div class=\"container-fluid\">\n    <a class=\"navbar-brand\" href=\"/monitor\">RSS Monitor</a>\n    <button class=\"navbar-toggler\" type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\"#navbarColor03\" aria-controls=\"navbarColor03\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n      <span class=\"navbar-toggler-icon\"></span>\n    </button>\n\n    <div class=\"collapse navbar-collapse\" id=\"navbarColor03\">\n      <ul class=\"navbar-nav me-auto\">\n        <li class=\"nav-item\">\n          <a class=\"nav-link active\" href=\"/monitor/feed\">Feeds</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/monitor/showcase\">Showcase</a>\n        </li>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/monitor/keyword\">Keywords</a>\n        </li>\n      </ul>\n      <form method=\"POST\"  action=\"/monitor\" class=\"d-flex\">\n        <input name=\"search\" value=\"{{req.body.search}}\" class=\"form-control me-sm-2\" type=\"text\" placeholder=\"Search\">\n        <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n      </form>\n    </div>\n  </div>\n</nav>\n","output":"str","x":1100,"y":360,"wires":[["aada5588.726d18"]]},{"id":"aada5588.726d18","type":"template","z":"b49992c9.ebd32","name":"Head","field":"template.head","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"//cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns\" crossorigin=\"anonymous\"></script>\n    <link rel=\"stylesheet\" href=\"//cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/superhero/bootstrap.min.css\" integrity=\"sha384-HnTY+mLT0stQlOwD3wcAzSVAZbrBp141qwfR4WfTqVQKSgmcgzk+oP0ieIyrxiFO\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css\" integrity=\"sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni\" crossorigin=\"anonymous\">\n\n","output":"str","x":1135,"y":410,"wires":[["e8f30620.38b6e8"]]},{"id":"e8f30620.38b6e8","type":"template","z":"b49992c9.ebd32","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        {{{template.head}}}\n    </head>\n \n \n    <body>\n        {{{template.navbar}}}\n        {{{template.body}}}\n    \n    </body>\n</html>","output":"str","x":1150,"y":460,"wires":[["c6d796f9.5f1c68"]]},{"id":"4a61fde1.a1a574","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/showcase","method":"get","upload":false,"swaggerDoc":"","x":180,"y":720,"wires":[["e19ca20.5d8866"]]},{"id":"d921a0d4.41255","type":"switch","z":"b49992c9.ebd32","name":"","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/monitor","vt":"str"},{"t":"eq","v":"/monitor/showcase","vt":"str"},{"t":"eq","v":"/monitor/api/match","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":580,"wires":[["58e3763a.463128"],["bab9f588.8c1438"],["c6d796f9.5f1c68"]]},{"id":"bab9f588.8c1438","type":"template","z":"b49992c9.ebd32","name":"Body","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"row\">\n{{#payload}}\n<div class =\"col-sm-6 col-md-4 col-lg-2\">\n<div class=\"card text-white {{^sent}}bg-info{{/sent}} mb-3\" style=\"max-width: 20rem;\">\n  <div class=\"card-header\"><a href= \"{{link}}\">{{title}}</a></div>\n  <div class=\"card-body\">\n    \n    <p class=\"card-text\">{{description}}</p>\n  </div>\n</div>\n</div>\n{{/payload}}\n</div>","output":"str","x":810,"y":580,"wires":[["5239fb0c.7ddda4"]]},{"id":"13df4ce2.fd04f3","type":"comment","z":"b49992c9.ebd32","name":"api","info":"","x":130,"y":780,"wires":[]},{"id":"c5eaeefc.b5489","type":"http in","z":"b49992c9.ebd32","name":"","url":"/monitor/api/match","method":"get","upload":false,"swaggerDoc":"","x":180,"y":840,"wires":[["e19ca20.5d8866"]]},{"id":"d7a1bb6e.9fa288","type":"sqlitedb","db":"C:\\Users\\Xhoi\\Documents\\monitor\\monitor.db","mode":"RWC"}]