RSS-Reader.json
[{"id":"21dbfaf5.6cc776","type":"tab","label":"Rss Reader","disabled":false,"info":""},{"id":"38beac29.60a574","type":"e-mail","z":"21dbfaf5.6cc776","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"frensissisnerf@gmail.com","dname":"email","x":870,"y":760,"wires":[]},{"id":"aa28b6de.b8c948","type":"template","z":"21dbfaf5.6cc776","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n{{description}} \n\nRead more: {{{link}}}\n{{/payload}}","output":"str","x":660,"y":760,"wires":[["38beac29.60a574","4793db25.fcba84"]]},{"id":"78485d5.17229a4","type":"comment","z":"21dbfaf5.6cc776","name":"RSS Reader","info":"","x":160,"y":80,"wires":[]},{"id":"3b56782e.634f48","type":"inject","z":"21dbfaf5.6cc776","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["9d3d8daf.8e4b4"]]},{"id":"d2b08303.3300d","type":"comment","z":"21dbfaf5.6cc776","name":"keywords","info":"","x":190,"y":200,"wires":[]},{"id":"9d3d8daf.8e4b4","type":"sqlite","z":"21dbfaf5.6cc776","mydb":"d7a1bb6e.9fa288","sqlquery":"fixed","sql":"SELECT rowid, * FROM keyword","name":"db","x":190,"y":260,"wires":[["d52343f1.d4eab"]]},{"id":"d52343f1.d4eab","type":"change","z":"21dbfaf5.6cc776","name":"keyword","rules":[{"t":"set","p":"keyword","pt":"msg","to":"$join(payload.expression, \"|\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":260,"wires":[["776e80f4.2ca19"]]},{"id":"692293cc.2bf08c","type":"comment","z":"21dbfaf5.6cc776","name":"reading feeds urls","info":"","x":470,"y":140,"wires":[]},{"id":"776e80f4.2ca19","type":"sqlite","z":"21dbfaf5.6cc776","mydb":"d7a1bb6e.9fa288","sqlquery":"fixed","sql":"SELECT rowid, * FROM feed","name":"db","x":490,"y":260,"wires":[["b1ac1d6a.e414d"]]},{"id":"b1ac1d6a.e414d","type":"split","z":"21dbfaf5.6cc776","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":260,"wires":[["24f34e59.6c7372"]]},{"id":"24f34e59.6c7372","type":"change","z":"21dbfaf5.6cc776","name":"read url","rules":[{"t":"move","p":"payload.url","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":340,"wires":[["1a5f8cf2.e2bdc3"]]},{"id":"1a5f8cf2.e2bdc3","type":"http request","z":"21dbfaf5.6cc776","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":340,"wires":[["4baaf2d6.5c5b9c"]]},{"id":"4baaf2d6.5c5b9c","type":"xml","z":"21dbfaf5.6cc776","name":"","property":"payload","attr":"","chr":"","x":550,"y":340,"wires":[["c7bbee6c.0bef1"]]},{"id":"c7bbee6c.0bef1","type":"change","z":"21dbfaf5.6cc776","name":"read item","rules":[{"t":"move","p":"payload.rss.channel[0].item","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":420,"wires":[["fa90243a.6140f8"]]},{"id":"fa90243a.6140f8","type":"split","z":"21dbfaf5.6cc776","name":"split articles","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":420,"wires":[["8c9c905c.abe9"]]},{"id":"8c9c905c.abe9","type":"switch","z":"21dbfaf5.6cc776","name":"match","property":"payload.description[0]","propertyType":"msg","rules":[{"t":"regex","v":"keyword","vt":"msg","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":420,"wires":[["90ceb1a0.3c15d"],[]]},{"id":"35602e88.f144d2","type":"debug","z":"21dbfaf5.6cc776","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":360,"wires":[]},{"id":"90ceb1a0.3c15d","type":"template","z":"21dbfaf5.6cc776","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT OR IGNORE INTO match VALUES (\n    '{{{payload.link.0}}}',\n    '{{payload.title.0}}',\n    '{{payload.description.0}}',\n         0)","output":"str","x":736,"y":410,"wires":[["4ea82a6e.7da754"]]},{"id":"4ea82a6e.7da754","type":"sqlite","z":"21dbfaf5.6cc776","mydb":"d7a1bb6e.9fa288","sqlquery":"msg.topic","sql":"","name":"db","x":870,"y":460,"wires":[["35602e88.f144d2"]]},{"id":"3172ed1b.53d882","type":"inject","z":"21dbfaf5.6cc776","name":"1day","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":640,"wires":[["651cc692.fa2218"]]},{"id":"651cc692.fa2218","type":"sqlite","z":"21dbfaf5.6cc776","mydb":"d7a1bb6e.9fa288","sqlquery":"fixed","sql":"SELECT rowid, * FROM match\nWHERE sent = 0 ","name":"db","x":330,"y":660,"wires":[["b08aa6b7.4abc78","b07e6a4b.c604f8"]]},{"id":"b08aa6b7.4abc78","type":"split","z":"21dbfaf5.6cc776","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":660,"wires":[["fb3ae2e4.86589"]]},{"id":"fb3ae2e4.86589","type":"template","z":"21dbfaf5.6cc776","name":"UPDATE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE match SET sent = 1 WHERE rowid = {{payload.rowid}}","output":"str","x":640,"y":600,"wires":[["4ea82a6e.7da754"]]},{"id":"c81b11f9.4813","type":"change","z":"21dbfaf5.6cc776","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Daily Report","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"\"RSS Alert\" <rss-alert@noreply.com>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":760,"wires":[["aa28b6de.b8c948"]]},{"id":"4793db25.fcba84","type":"debug","z":"21dbfaf5.6cc776","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":680,"wires":[]},{"id":"b07e6a4b.c604f8","type":"switch","z":"21dbfaf5.6cc776","name":"empty","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":760,"wires":[[],["c81b11f9.4813"]]},{"id":"d7a1bb6e.9fa288","type":"sqlitedb","db":"C:\\Users\\Xhoi\\Documents\\monitor\\monitor.db","mode":"RWC"}]